{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-5">{{ object.title }}</h1>
            <p class="lead my-3">{{ object.synopsis }}</p>

        </div>
    </div>
    <div class="col-md-12">
        <article class="blog-post">
            <p class="blog-post-meta">{{ object.created|date:"d M Y h:m" }} by {{ object.author }}</p>
            <hr>
            <p class="lead my-1">{{ object.content }}</p>
        </article>
    </div>
    <hr>
    {% if not request.user.is_authenticated %}
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-black lh-1">Only full-fledged users can leave comments on this page. Please <a href="#">Log in</a>
            </h1>
        </div>
    </div>
    {% endif %}
    <div class="bg-light p-3 rounded">
        <h4>Comments</h4>
        <p class="lead"></p>
    </div>
    
</main>
{% endblock %}