{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <a href="#"><button type="button" class="btn btn-outline-light me-2">Profile</button></a>
            <a href="#"><button type="button" class="btn btn-warning">Log Out</button></a>            
            {% else %}
            <a href="#"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
            <a href="{% url 'register' %}"><button type="button" class="btn btn-warning">Sign-up</button></a>
            {% endif %}
        </div>
    </div>
</nav>